doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title DONGSTUDIO
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900')
    link(rel='stylesheet', href='css/style.css')
  body
    .webmask
    //.logoplace
      .logoanimate
        .grid
          div
          div
          div
          div
          div
          div
          div
          div
          div
        .logoline.logoline1
        .logoline.logoline2
        .logoline.logoline3
        .logoline.logoline4
        .logoline.centerline
      .logoname
        span DONG
        span STUDIO
    nav.navbar.navbar-default.navbar-fixed-top.at_top.navtop
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar.iconbar1
            span.icon-bar
            span.icon-bar.iconbar2
          a.navbar-brand(href='#header_index')
            img#logo(src='LOGO.svg', alt='')
            h4#title
              span DONG
              span STUDIO
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#section_about', hreftg='#section_about') ABOUT
            li
              a(href='#section_story', hreftg='#section_story') STORY 
            li
              a(href='#section_skill', hreftg='#section_skill') SKILLS
            li
              a(href='#section_work', hreftg='#section_work') WORKS
            li
              a(href='#section_contact', hreftg='#section_contact') CONTACT
    header#header_index
      .container
        img.bgimg(src='cv-10.png', alt='')
        img.x1(src='images/十字.svg', alt='')
        img.c1(src='images/圓.svg', alt='')
        img.x2(src='images/細十字.svg', alt='')
        img.c2(src='images/圓圈.svg', alt='')
        img.c3(src='images/圓圈.svg', alt='')
        img.x3(src='images/十字.svg', alt='')
        img.x4(src='images/十字.svg', alt='')
        img.topimg(src='https://dl.dropbox.com/s/4nu4in0gb1thezv/abouttop-06-06-06.png?dl=0', alt='')
        .row
          .col-sm-12
            .titlearea
              h4 HI, MY NAME IS 
              h1
                | DONG-YIN 
                span LEE
              h4 FRONT-END-DEVELOP
        .row
        .row
          .scrolldown
            a(href='#section_about')
              h4 SCROLL TO EXPLORE
    section#section_about
      .container
        .row
          .col-sm-12.section_title
            h2 ABOUT ME
            img.section_logo(src='images/section_logoW-01.svg', alt='')
          #about_content.col-sm-12
            .col-sm-5
              .myphoto
            .col-sm-7
              h1 李東穎
              h5 前端工程與UI設計
              p
                | 由於喜歡網頁渲染出的動態效果以及精美的版面配置，因此選擇了往前端這條路發展。目前自學前端已有一年多的時間，過程雖然辛苦，但卻處處充滿著研究新技術的喜悅與解出難題的成就感。除了專研前端技術之外，平時也會接觸UI/UX的相關知識，讓自己能設計出好的使用者介面。未來期許自己也能慢慢接觸後端技術，成為多方位的全端工程師。
              // .downloadCV Download my CV
              .col-sm-12
                a(href='https://codepen.io/lockingdong/', target='_blank')
                  img(src='https://dl.dropbox.com/s/j0wuhcbbdlnyx90/3d-outlined-shape%20%281%29.png?dl=0', alt='')
                a(href='https://www.facebook.com/profile.php?id=100002021933185', target='_blank')
                  img(src='https://dl.dropbox.com/s/5tohjx2gqfaxrmj/facebook-logo%20%281%29.png?dl=0', alt='')
                a(href='https://www.instagram.com/lockingdong/', target='_blank')
                  img(src='https://dl.dropbox.com/s/qtyre2er19mhvgj/instagram-logo%20%281%29.png?dl=0', alt='')
    section#section_story
      .container
        .row
          .col-sm-12.section_title
            h2 MY STORY
            img.section_logo(src='images/section_logoB-01.svg', alt='')
        .row
          .col-md-5
            h1#edu_title EDUCATION
          .col-md-7
            h1 銘傳大學資訊工程學系
            h4 2012.9 - 2016.6
            p
              | 由於喜歡日新月異的電腦技術因此選擇了資訊工程學系就讀，在大學期間，我參與過系上不少比賽，包刮短碼競賽、系服設計比賽、資訊展背板設計。除了課業之外，我也積極參與社團活動，在熱舞社擔任教學的職位並且參加過許多比賽與活動。
        .row
          .col-md-5.col-md-push-7
            h1#exp_title INTERNSHIP
          .col-md-7.col-md-pull-5
            h1 NEC網站測試實習
            h4 2015.9 - 2016.5
            p
              | 大三時，因為老師的介紹而接下了網站測試的工作，主要工作內容是要將台灣NEC所開發出的客家雲網站做各種功能性與使用性測試，我的職責是將測試團隊發現的功能性與可使用性問題彙整成完整的測試報告並交給台灣NEC的負責人。此外由於接下了此任務，我也因此擔任了軟體測試這門課的助教。
    section#section_skill
      .container
        .row
          .col-sm-12.section_title
            h2 MY SKILLS
            img.section_logo(src='images/section_logoB-01.svg', alt='')
        .row
          .col-xs-6.col-sm-4
            #skillhtml.dounut
              .circleL
                .circleS
                  h5 80
                .rec.rec1
                .rec.rec2
                .rec.rec3
            .skilltitle
              h3 HTML/PUG
          .col-xs-6.col-sm-4
            #skillcss.dounut
              .circleL
                .circleS
                  h5 75
                .rec.rec1
                .rec.rec2
                .rec.rec3
            .skilltitle
              h3 CSS/SASS
          .col-xs-6.col-sm-4
            #skillJS.dounut
              .circleL
                .circleS
                  h5 50
                .rec.rec1
                .rec.rec2
                .rec.rec3
            .skilltitle
              h3 JS/JQuery
          .col-xs-6.col-sm-4
            #skillPS.dounut
              .circleL
                .circleS
                  h5 40
                .rec.rec1
                .rec.rec2
                .rec.rec3
            .skilltitle
              h3 PhotoShop
          .col-xs-6.col-sm-4
            #skillAI.dounut
              .circleL
                .circleS
                  h5 40
                .rec.rec1
                .rec.rec2
                .rec.rec3
            .skilltitle
              h3 Illustrator
          .col-xs-6.col-sm-4
            #skillTOEIC.dounut
              .circleL
                .circleS
                  h5 80
                  h6 800score
                .rec.rec1
                .rec.rec2
                .rec.rec3
            .skilltitle
              h3 TOEIC
    section#section_work
      .container
        .row
          .col-sm-12.section_title
            h2 MY WORKS
            img.section_logo(src='images/section_logoW-01.svg', alt='')
        .row
          .col-xs-12.col-sm-6.col-md-4
            .workbox
              a(href='https://codepen.io/lockingdong/pen/mOdmwo', target='_blank')
                img(src='https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/22492005_916455775174749_3284427946631771462_n.jpg?oh=e97c3dd193a0634801bda7ee63b27b12&oe=5ADD1CB1', alt='')
            .workbtn Weather Box
          .col-xs-12.col-sm-6.col-md-4
            .workbox
              a(href='https://codepen.io/lockingdong/pen/qNZyVL', target='_blank')
                img(src='https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/22548932_916455765174750_81163151936118741_o.jpg?oh=acc5578f910c446963157546d81cf599&oe=5A7C1785', alt='')
            .workbtn To-Do List
          .col-xs-12.col-sm-6.col-md-4
            .workbox
              a(href='https://codepen.io/lockingdong/pen/ZpVoXN?editors=1010', target='_blank')
                img(src='https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/22538902_916455778508082_9512495924677351_o.jpg?oh=98e5c4c6f9ed06fb13fc487a3a8c9c73&oe=5A794D6B', alt='')
            .workbtn Name Card
          .col-xs-12.col-sm-6.col-md-4
            .workbox
              a(href='https://codepen.io/lockingdong/pen/VKAzwK', target='_blank')
                img(src='https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/22528463_916455808508079_4574157064931316525_n.jpg?oh=315130b0af7ca7f35f69dd225386128b&oe=5B16EB8B', alt='')
            .workbtn Slide Show
          .col-xs-12.col-sm-6.col-md-4
            .workbox
              a(href='https://codepen.io/lockingdong/pen/XNMoNw', target='_blank')
                img(src='https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/22552557_916455771841416_7996481582845183798_n.jpg?oh=32e3f13058d53f66f1f9a2c2e703aa74&oe=5ADE7606', alt='')
            .workbtn Shopping Cart
          .col-xs-12.col-sm-6.col-md-4
            .workbox
              a(href='https://codepen.io/lockingdong/pen/ZXYVGg', target='_blank')
                img(src='https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/22495956_916455811841412_4848128112154335612_o.jpg?oh=331fad5d48b198efdc1f5faacff3ed74&oe=5A80BE42', alt='')
            .workbtn 國小宣傳網站
        .row
          .col-sm-12
            a(href='https://codepen.io/lockingdong/', target='_blank')
              .morebtn SHOW MORE WORKS
    section#section_contact
      form.container(action='https://docs.google.com/forms/d/e/1FAIpQLSdNoNsDv_iVVfD1j-Qmt2FhMPCNR9GEoxcwD3brQpw9boFIjA/formResponse')
        .row
          .col-sm-12.section_title
            h2 CONTACT ME
            img.section_logo(src='images/section_logoW-01.svg', alt='')
        .row
          .col-xs-12.col-sm-6
            input#comfort.nameinput(name='entry.837538054', type='text', placeholder='YOUR NAME')
          .col-xs-12.col-sm-6
            input#comfort.emailinput(name='entry.1695280353', type='text', placeholder='YOUR EMAIL')
        .row
          .col-sm-12
            textarea(name='entry.1370372638', cols='30', rows='10', placeholder='MESSAGE')
          .col-sm-12.btnarea
            input#send.button(type='submit', target='_blank', value='SEND')
        .row
          .col-sm-12
            h6 or
        .row
          .col-sm-12.ctinfo
            h5
              .icon.fa.fa-mobile
              | +886123456789
            h5.email
              .icon.fa.fa-envelope
              | s8809880988@gmail.com
    footer#footer
      .container
        .row
          .col-sm-12.footerlogo
            img.icon.footericon(src='images/footer-07.svg', alt='')
          .col-sm-12
            h6 Copyright © 2017 DONGSTUDIO.
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='js/index.js')
